
/* done */
.logo{
    height: 7vh;
    margin-right: auto;
  }
  .col-md-6{
    text-align: center;
    padding: 5%;
    border: 5%;
    padding-top: 10%;
  }
  mat-card{
    display: flex;
    flex-direction:  column;
    height: 40vh;
    width: 30vw;
    text-align: center;
    margin: auto;
    margin-bottom: 20vh;
    margin-top: 110px;
    background-color:rgb(204, 201, 196);
  
  }
  
  mat-card-title{
    color: rgb(89, 19, 219);
    font-size: 1.2em;
    font-family: 'Acme, sans-serif';
    padding-left: 15vw;
    padding-top: 3vh;
  
  }