<app-homeheadnav> </app-homeheadnav>
  <div>
    <img class="img" src="https://www.gavi.org/sites/default/files/covid/fusion-medical-animation-rnr8D3FNUNY-unsplash_h2.jpg"/>
    <div class="text-block">
      <h4>Responding To Covid-19</h4>
      <p>In the face of this unprecedented pandemic, <br>
Gavi is working with countries tosupport <br>
COVID-19 response and to maintain and <br>
restore routine immunisation. <br>
The Alliance is also co-leading global <br>
efforts on equitable access to COVID-19 <br>
vaccines</p>
    </div>
  </div>
<meta name="description" content="In the face of this unprecedented pandemic, Gavi is working with countries to support COVID-19 response and to maintain and restore routine immunisation. The Alliance is also co-leading global efforts on equitable access to COVID-19 vaccines." />
  <br>
  <body>
    <div class="col-sm">
      <app-searchcountry></app-searchcountry>
    </div>
<app-userfootnav> </app-userfootnav>
</body>